<ng-container [formGroup]="formGroup">
  <h1>O hai!</h1>
  <p>Tell us more about you and your pets!</p>

  <div>
    <label for="name">Your Name</label>
    <input formControlName="name" />
  </div>

  <p>And what about your pets???</p>

  <div formArrayName="pets" *ngFor="let item of petsFormArray; let i = index">
    <ng-container [formGroupName]="i">
      <span>
        Name: <input formControlName="name" />
      </span> | <span>
        Classification: <input formControlName="classification" />
      </span>
      <button type="button" (click)="removePet(i)">Delete</button>
    </ng-container>
  </div>

  <button type="button" (click)="addNewEntry()">Add New Pet</button>

</ng-container>
